body {
  font-family: 'Lato';
  color: #292929;
  padding-top: 81px;
  background-image: url("../../../img/bggreen.png");
}

/*
===============================================
11. Cart Page
===============================================
*/

/* Cart Ican and Text stay in one line */
@media (max-width: 768px) {
  .img-bow-center-res {
    display: block;
    margin: 0 auto;
  }
}

/* Outer Border of all table */
.table-bow {
  border: solid 2px #d6d6d6;
}

/* Outer Border of all table */
.text-cart-bow {
  width: 100%;
  display: inline-block;
  margin-left: 0px;
}

/* Outer Border of all table */
@media (min-width: 768px) {
  .text-cart-bow {
    width: 70%;
    margin-left: 10px;
  }
}

/* Size of the product image */
.img-cart-bow {
  max-width: 110px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  margin-top: 10px;
}

/* Price And Coupon div */
.total-page {
  background-color: #f5f5f5;
  border: solid 1px #d6d6d6;
  border-top: transparent;
  padding: 15px;
}

/* Total Price text */
.total-price-bow h1 {
  font-size: 20px;
  letter-spacing: 0px;
}

/* Cart page - product icon fit */
.img-full-size {
  width: 100%;
}

a {
  color: #292929;
}
a:hover {
  color: #101010;
}

/* Navbar stays in container */
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

/* Activated link BG */
.navbar-nav li.active a {
  background-color: #F8F8F8;
}

/* Correct class name... surprisingly */
.footer-text {
  color: #449D44;
}

/* Home Page story 1 & story 2 BG */
.shadow {
  height: 100%;
  width: 100%;
  background-color: #E8F8E5;
}

/* Margin between story lines */
.media {
  margin-bottom: 60px;
}

/* make thinks full width */
.no-padding-lr {
  padding-left: 0;
  padding-right: 0;
}

/* Padding to bottom of navbar */
section {
  padding: 45px 0;
}

.carousel-control.left,
.carousel-control.right  {
  background-image: none;
}


/* Navbar Padding and color */
.navbar-brand-bow {
  background-color: #ffffff;
  padding: 15px 0 15px 0;
}

/* Navbar Font */
nav, .footer-text {
  font-family: 'Amatic Regular', Arial, Helvetica, sans-serif;
}

/* Navbar Font Size */
.navbar-nav, nav, a, .footer-text {
  font-size: 24px;
}

.footer-img {
  background-color: #E8F8E5;
}

/* Photo Guide stays other navbar links disappears!? */
.navbar-brand-bow ul > li > a {
  color: #292929;
}

/* Logo size */
a.navbar-brand {
  font-size: 36px;
}
