.about-giris{
    margin-top: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
    text-align: center;
    
}

.right{
    text-align: right;
    font-style: italic;
    color: #979797;
}

.about-motto{
    color: black;
    font-style: italic;
    text-align: center;
    font-size: 30px;
    text-align: center;
    vertical-align: center;

}

hr {
  margin-top: 80px;
  border:none;
  border-top:1.8px solid #979797;
  height:1px;
  width:100%;
}

.about-form{
  padding-top: 80px;
  padding-bottom: 60px;
}

a {
  color: #439D4E;
}