.btn-checkout {
    margin-top: 10px;
    margin-right: 14px;
}

section.cart thead {
    background-color: #E8F8E5;
}

section.cart tbody {
    background-color: #FFFFFF;
}

.total-page {
    background-color: #E8F8E5;
}
