body {
    font-family: "Lato";
    color: #292929;
    // padding-top: 130px; // activate this line if nav tag has "navbar-fixed-top" class
    background-image: url("../../../img/bggreen.png");
}

.row.vertically-divide [class*='col-']:not(:last-child):after {
    background: #E1E1E1;
    width: 1px;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

nav,
.footer-text {
    font-family: "Amatic Bold", Arial, Helvetica, sans-serif;
}

// Partials
    // Site Header
        .navbar-brand-app {
            background-color: #ffffff;
            /*padding: 15px 0 15px 0;*/
            padding: 45px 0 45px;

            ul {
                a {
                    color: #000;

                    -webkit-transition: all 0.2s ease-out;
                    -moz-transition: all 0.2s ease-out;
                    -ms-transition: all 0.2s ease-out;
                    -o-transition: all 0.2s ease-out;
                    transition: all 0.2s ease-out;

                    &:hover {
                        color: #101010;
                    }
                }
            }
        }

        .navbar-nav {
            li {
                &.active {
                    a {
                        background-color: #F8F8F8;
                    }
                }
            }
        }

    // Product
        .product {
            border: 1px solid #E1E1E1;
            border-radius: 5px;
            background: #FFF;
            margin: 5px;

            &:hover {
                background-color: #FEFFFD;
                -webkit-box-shadow: 0px 0px 2px 3px rgba(224, 245, 215, 1);
                -moz-box-shadow: 0px 0px 2px 3px rgba(224, 245, 215, 1);
                box-shadow: 0px 0px 2px 3px rgba(224, 245, 215, 1);
            }

            .info {
                padding: 10px;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
                border-top-width: 1px;

                .buttons {
                    padding-bottom: 10px;
                }
            }

            .photo {
                img {
                    border-radius: 5px 5px 0 0;
                    border-bottom: 1px solid #E1E1E1;
                }
            }
        }
